<div class='content'>
  <h2>Welcome to Coffee Beans</h2>
  <h3>Select a brand to rate or submit a new one</h3>
</div>
<div class='content form-right'>
  <h3>Submit new brand:</h3>
  <%= form_for @new_brand do |f| %> 
      <%= f.label :brand_name %> <%= f.text_field :name %>
      <%= f.label :store_name %> <%= f.text_field :store %>
      <%= f.submit %>
  <% end %>
</div>

<div class='content left'>
  <h3>Coffee brand selection list:</h3>
  <table>
    <tr><th>Brand:</th><th>Beans Listed:</th> <th>Reviews Listed:</th> <th>Brand Score:</th></tr>
    <%@brands.each do |brand| %>
      <tr>
        <td><%= link_to brand.name, brand_path(brand.id) %></td>
        <td><center><%= brand.beans.count %></center></td>
        <td><center><%= brand.bean_reviews.count %></center></td>
        <td><center><%= brand.avg_score %></center></td>
      </tr>
    <% end %>
  </table>
</div>