<div class="content">
  <h2>Brands#show</h2>
</div>

<div class='content form-right'>
  <h3>Submit new bean:</h3>
  <%= form_tag("/search", method: "get") do %>
  <%= label_tag(:q, "Brand:") %>
  <%= text_field_tag(:brand) %><br>
  <%= label_tag(:q, "Store:") %>
  <%= text_field_tag(:store) %><br>
  <%= submit_tag("Submit") %>
<% end %>
</div>

<div class='content left'>
  <h3>Coffee bean selection list:</h3>
  <table style="width: 450px">
    <tr><th>Bean:</th><th>Roast:</th><th>Reviews Listed:</th><th>Bean Score:</th></tr>
    <%@beans.each do |bean| %>
      <tr>
        <td><%= link_to bean.name, brand_beans_path(bean.id) %></td>
        <td><center><%= bean.roast %></center></td>
      </tr>
    <% end %>
  </table>
</div>