<div class="content">
  <h2>Brands#show</h2>
</div>

<div class='content form-right'>
  <h3>Submit new bean:</h3>
  <%= form_tag("/search", method: "get") do %>
  <%= label_tag(:q, "Brand:") %>
  <%= text_field_tag(:brand) %><br>
  <%= label_tag(:q, "Store:") %>
  <%= text_field_tag(:store) %><br>
  <%= submit_tag("Submit") %>
<% end %>
</div>

<div class='content left'>
  <h3>Coffee bean selection list:</h3>
  <ol>
    <%@beans.each do |bean| %>
      <li><%= link_to bean.name, brand_beans_path(bean.id) %></li>
    <% end %>
  </ol>
</div>